@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 20px;
    padding: 20px;
    background-color: #577F76;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    /*position: relative; Make the container a positioning context*/
}


.clock-container{
    display: flex;
   width: 90%;
   border-radius: 8px;
    background-color: white;
}

/* Punch Button Styles */
.punch-button{
    position:relative;
    display:inline-block;
   margin-top:20px;
   
  }
  
  .punch-button a{
    color:white;
    font-family:'Orbitron', Arial, sans-serif;
    font-weight:bold;
    font-size:32px;
    text-align: center;
    text-decoration:none;
    background-color:#7A8589;
    display:block;
    position:relative;
    padding:10px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #38423A;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #38423A;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #38423A;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .punch-button a:active{
    top:10px;
    background-color:#7A8589;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #38423A;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #38423A;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #38423A;
  }
  
  .punch-button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }



h1, h2 {
    color: #333;
}

/*button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
}*/

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;

}

li button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}

/* Analog Clock Styles */
.clock {
    width: 600px;
    height: 300px;
    border: 5px solid black;
    border-radius: 5%;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* Account for the height of the clock hands */
}

.hand {
    width: 15%;
    height: 6px;
    background: black;
    position: absolute;
    top: 47%;
    left: 35%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    height: 2px;
    background: red;
}

/* Hour Labels */
.clock .hour-label {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'Orbitron', Arial, sans-serif;
}

/* Hour Lines */
.clock .hour-label::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #A9937A;
}


.clock .hour-12 { top: -10px; left: 50%; transform: translateX(-50%); }
.clock .hour-12::before { top: 30px; left: 50%; height: 20px; transform: translateX(-50%); }

.clock .hour-1 { top: 10px; right: 35%; transform: translate(-50%, -50%); }
.clock .hour-1::before { top: 30px; right: 45%; height: 25px; transform: rotate(30deg); transform-origin: top; }

.clock .hour-2 { top: 37px; right: 15%; transform: translate(-50%, -50%); }
.clock .hour-2::before { top: 25px; right: 90%; height: 40px; transform: rotate(60deg); transform-origin: top; }

.clock .hour-3 { bottom: 45%; right: 20px; transform: translateY(-50%); }
.clock .hour-3::before { top: 50%; right: 30px; height: 40px; transform: rotate(90deg); transform-origin: top; }

.clock .hour-4 { bottom: 37px; right: 15%; transform: translate(-50%, -50%); }
.clock .hour-4::before { bottom: -25px; right: 80%; height: 40px; transform: rotate(120deg); transform-origin: top; }

.clock .hour-5 { top: 290px; right: 33%; transform: translate(-50%, -50%); }
.clock .hour-5::before { top: -5px; right: 70%; height: 25px; transform: rotate(150deg); transform-origin: top; }

.clock .hour-6 { bottom: -10px; left: 50%; transform: translateX(-50%); }
.clock .hour-6::before { bottom: 30px; left: 50%; height: 20px; transform: translateX(-50%) rotate(180deg); }

.clock .hour-7 { top: 290px; left: 35%; transform: translate(-50%, -50%); }
.clock .hour-7::before { top: -5px; left: 45%; height: 25px; transform: rotate(210deg); transform-origin: top; }

.clock .hour-8 { bottom: 37px; left: 15%; transform: translate(-50%, -50%); }
.clock .hour-8::before { bottom: -20px; left: 70%; height: 40px; transform: rotate(240deg); transform-origin: top; }

.clock .hour-9 { top: 45%; left: 20px; transform: translateY(-50%); }
.clock .hour-9::before { top: 45%; left: 30px; height: 40px; transform: rotate(270deg); transform-origin: top; }

.clock .hour-10 { top: 37px; left: 15%; transform: translate(-50%, -50%); }
.clock .hour-10::before { top: 25px; left: 90%; height: 40px; transform: rotate(300deg); transform-origin: top; }

.clock .hour-11 { top: 10px; left: 35%; transform: translate(-50%, -50%); }
.clock .hour-11::before { top: 30px; left: 50%; height: 25px; transform: rotate(330deg); transform-origin: top; }